{{ define "main" }}
<article>
  <h1>{{ .Title }}</h1>
  <ul class="posts-list">
    {{ range where .Paginator.Pages "Type" "!=" "page" }}
    <li class="posts-list-item">
      <a class="posts-list-item-title" href="{{ .RelPermalink }}"
        >{{ .Title }}</a
      >
      <span class="posts-list-item-description">
        {{ .Summary }} {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
        <div>
          <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
        {{ end }} {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }} {{
        .PublishDate.Format "Jan 2, 2006" }} - {{ partial "icon.html" (dict
        "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read
      </span>
    </li>
    {{ end }}
  </ul>
  {{ partial "pagination.html" $ }}
</article>
{{ end }}
